<section class="show-routine-area section-padding-80-0 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="nav nav-tabs" id="showRoutineTab" role="tablist">
                        <!-- Single Nav Item -->
                        <li class="nav-item">
                            <a class="nav-link active" id="tab-1" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">
                                Monday
                            </a>
                        </li>
                        <!-- Single Nav Item -->
                        <li class="nav-item">
                            <a class="nav-link" id="tab-2" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">
                                Tuesday
                            </a>
                        </li>
                        <!-- Single Nav Item -->
                        <li class="nav-item">
                            <a class="nav-link" id="tab-3" data-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">
                                Wednesday
                            </a>
                        </li>
                        <!-- Single Nav Item -->
                        <li class="nav-item">
                            <a class="nav-link" id="tab-4" data-toggle="tab" href="#tab4" role="tab" aria-controls="tab4" aria-selected="false">
                                Thursday
                            </a>
                        </li>
                        <!-- Single Nav Item -->
                        <li class="nav-item">
                            <a class="nav-link" id="tab-5" data-toggle="tab" href="#tab5" role="tab" aria-controls="tab5" aria-selected="false">
                                Friday
                            </a>
                        </li>
                        <!-- Single Nav Item -->
                        <li class="nav-item">
                            <a class="nav-link" id="tab-6" data-toggle="tab" href="#tab6" role="tab" aria-controls="tab6" aria-selected="false">
                                Saturday
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="showRoutineTabContent">
                        <!-- Single Tab Content -->
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab-1">
                            <div class="row">
                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/55.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>01:00am - 02:30am</span>
                                                <h5>BBC Music Introducing in</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/56.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>03:00am - 05:30am</span>
                                                <h5>As BBC Radio 5 live</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/57.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>06:00am - 07:30am</span>
                                                <h5>Andrew Peach Birthday Surprise!</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/58.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>09:00am - 11:30am</span>
                                                <h5>Berkshire Sport: Extra Time</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/59.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>12:00pm - 13:30pm</span>
                                                <h5>Tony Blackburn on BBC Radio</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/60.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>15:00am - 17:00pm</span>
                                                <h5>BBC Music Introducing in</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/61.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>18:00pm - 19:30pm</span>
                                                <h5>Stereo Underground</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/62.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>20:00pm - 22:00pm</span>
                                                <h5>Danyl Johnson and Natasha Watts</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/63.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>23:00pm - 01:00am</span>
                                                <h5>Andrew Peach Birthday Surprise!</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Tab Content -->
                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab-2">
                            <div class="row">
                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/55.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>01:00am - 02:30am</span>
                                                <h5>BBC Music Introducing in</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/56.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>03:00am - 05:30am</span>
                                                <h5>As BBC Radio 5 live</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/57.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>06:00am - 07:30am</span>
                                                <h5>Andrew Peach Birthday Surprise!</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/58.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>09:00am - 11:30am</span>
                                                <h5>Berkshire Sport: Extra Time</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/59.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>12:00pm - 13:30pm</span>
                                                <h5>Tony Blackburn on BBC Radio</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/60.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>15:00am - 17:00pm</span>
                                                <h5>BBC Music Introducing in</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/61.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>18:00pm - 19:30pm</span>
                                                <h5>Stereo Underground</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/62.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>20:00pm - 22:00pm</span>
                                                <h5>Danyl Johnson and Natasha Watts</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/63.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>23:00pm - 01:00am</span>
                                                <h5>Andrew Peach Birthday Surprise!</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Tab Content -->
                        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab-3">
                            <div class="row">
                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/55.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>01:00am - 02:30am</span>
                                                <h5>BBC Music Introducing in</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/56.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>03:00am - 05:30am</span>
                                                <h5>As BBC Radio 5 live</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/57.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>06:00am - 07:30am</span>
                                                <h5>Andrew Peach Birthday Surprise!</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/58.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>09:00am - 11:30am</span>
                                                <h5>Berkshire Sport: Extra Time</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/59.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>12:00pm - 13:30pm</span>
                                                <h5>Tony Blackburn on BBC Radio</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/60.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>15:00am - 17:00pm</span>
                                                <h5>BBC Music Introducing in</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/61.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>18:00pm - 19:30pm</span>
                                                <h5>Stereo Underground</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/62.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>20:00pm - 22:00pm</span>
                                                <h5>Danyl Johnson and Natasha Watts</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/63.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>23:00pm - 01:00am</span>
                                                <h5>Andrew Peach Birthday Surprise!</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Tab Content -->
                        <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab-4">
                            <div class="row">
                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/55.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>01:00am - 02:30am</span>
                                                <h5>BBC Music Introducing in</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/56.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>03:00am - 05:30am</span>
                                                <h5>As BBC Radio 5 live</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/57.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>06:00am - 07:30am</span>
                                                <h5>Andrew Peach Birthday Surprise!</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/58.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>09:00am - 11:30am</span>
                                                <h5>Berkshire Sport: Extra Time</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/59.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>12:00pm - 13:30pm</span>
                                                <h5>Tony Blackburn on BBC Radio</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/60.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>15:00am - 17:00pm</span>
                                                <h5>BBC Music Introducing in</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/61.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>18:00pm - 19:30pm</span>
                                                <h5>Stereo Underground</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/62.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>20:00pm - 22:00pm</span>
                                                <h5>Danyl Johnson and Natasha Watts</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/63.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>23:00pm - 01:00am</span>
                                                <h5>Andrew Peach Birthday Surprise!</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Tab Content -->
                        <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab-5">
                            <div class="row">
                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/55.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>01:00am - 02:30am</span>
                                                <h5>BBC Music Introducing in</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/56.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>03:00am - 05:30am</span>
                                                <h5>As BBC Radio 5 live</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/57.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>06:00am - 07:30am</span>
                                                <h5>Andrew Peach Birthday Surprise!</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/58.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>09:00am - 11:30am</span>
                                                <h5>Berkshire Sport: Extra Time</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/59.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>12:00pm - 13:30pm</span>
                                                <h5>Tony Blackburn on BBC Radio</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/60.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>15:00am - 17:00pm</span>
                                                <h5>BBC Music Introducing in</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/61.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>18:00pm - 19:30pm</span>
                                                <h5>Stereo Underground</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/62.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>20:00pm - 22:00pm</span>
                                                <h5>Danyl Johnson and Natasha Watts</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/63.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>23:00pm - 01:00am</span>
                                                <h5>Andrew Peach Birthday Surprise!</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Single Tab Content -->
                        <div class="tab-pane fade" id="tab6" role="tabpanel" aria-labelledby="tab-6">
                            <div class="row">
                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/55.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>01:00am - 02:30am</span>
                                                <h5>BBC Music Introducing in</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/56.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>03:00am - 05:30am</span>
                                                <h5>As BBC Radio 5 live</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/57.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>06:00am - 07:30am</span>
                                                <h5>Andrew Peach Birthday Surprise!</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/58.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>09:00am - 11:30am</span>
                                                <h5>Berkshire Sport: Extra Time</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/59.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>12:00pm - 13:30pm</span>
                                                <h5>Tony Blackburn on BBC Radio</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/60.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>15:00am - 17:00pm</span>
                                                <h5>BBC Music Introducing in</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/61.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>18:00pm - 19:30pm</span>
                                                <h5>Stereo Underground</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/62.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>20:00pm - 22:00pm</span>
                                                <h5>Danyl Johnson and Natasha Watts</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Single Show Item -->
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="single-show-item mb-30">
                                        <img src="img/bg-img/63.jpg" alt="">
                                        <div class="overlay-content">
                                            <div class="text-center">
                                                <span>23:00pm - 01:00am</span>
                                                <h5>Andrew Peach Birthday Surprise!</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>