<section class="razo-weekly-schedule-area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="weekly-schedule-table table-responsive">
                        <!-- Section Heading -->
                        <div class="col-12">
                            <div class="section-heading text-center">
                                <h2>2019-1학기 스케줄러</h2>
                            </div>
                        </div>

                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col">
                                        <p>Monday</p>
                                    </th>
                                    <th scope="col">
                                        <p>Tuesday</p>
                                    </th>
                                    <th scope="col">
                                        <p>Wednesday</p>
                                    </th>
                                    <th scope="col">
                                        <p>Thursday</p>
                                    </th>
                                    <th scope="col">
                                        <p>Friday</p>
                                    </th>
                                    <th scope="col">
                                        <p>Saturday</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td scope="row">
                                        <a href="#"><h5>머신러닝</h5></a>
                                        <span>10:00 am - 11:30 am</span>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <a href="#"><h5>머신러닝</h5></a>
                                        <span>10:00 am - 11:30 am</span>
                                    </td>
                                    <td>
                                        <h5>Berkshire Sport: Extra Time</h5>
                                        <span>01:00 am - 03:30 am</span>
                                    </td>
                                    <td>
                                        <a href="#"><h5>인공지능</h5></a>
                                        <span>09:00 am - 12:00 am</span>
                                    </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        <a href="#"><h5>공감과소통의공학교육</h5></a>
                                        <span>01:00 pm - 02:00 pm</span>
                                    </th>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <h5>Tony Blackburn on BBC Radio</h5>
                                        <span>03:00 am - 05:00 am</span>
                                    </td>
                                    <td></td>
                                    <td>
                                        <h5>Stereo Underground</h5>
                                        <span>03:00 am - 05:00 am</span>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row"></th>
                                    <td>
                                        <h5>BBC Music Introducing in</h5>
                                        <span>10:00 am - 12:00 pm</span>
                                    </td>
                                    <td>
                                        <h5>Stereo Underground</h5>
                                        <span>13:00 pm - 15:00 pm</span>
                                    </td>
                                    <td></td>
                                    <td>
                                        <h5>Sport on BBC Radio Berkshire</h5>
                                        <span>07:00 am - 09:30 am</span>
                                    </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <th scope="row">
                                        <p>Andrew Peach Birthday Surprise!</p>
                                        <span>13:00 pm - 16:00 pm</span>
                                    </th>
                                    <td>
                                    </td>
                                    <td>
                                        <h5>BBC Music Introducing in</h5>
                                        <span>17:00 pm - 20:00 pm</span>
                                    </td>
                                    <td>
                                        <h5>Andrew Peach Birthday Surprise!</h5>
                                        <span>13:00 pm - 16:00 pm</span>
                                    </td>
                                    <td></td>
                                    <td>
                                        <h5>Danyl Johnson and Natasha Watts</h5>
                                        <span>13:00 pm - 16:00 pm</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>